* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
    text-decoration: underline;
    background-color: red;
    background-image: linear-gradient(to right, red, green,greenyellow, yellow);
}

nav{
    margin: 10px auto;
    width: 60%;
    height: 70px;
    border: 4px solid red;
    border-radius: 10px;
    background-color: darkcyan;
    text-align: center;
}
nav ul {
    width: 30%;
    font-weight: bold;
}

.Box__Container{
    border: 1px solid red;
    background-color: aquamarine;
    border-radius: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.child__Box{
    background-color: cyan;
    width: 400px;
    border: 2px solid green;
    border-radius: 5px;
    font-weight: bold;
}
.TopperStudent__Box{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.TopperStudent__Header{
    width: 100%;
    height: 10%;
    text-transform: uppercase;
    text-decoration: #dc3545 underline;
    font-weight: bolder;
     background-image: linear-gradient(to right, red, yellow, red );
}
.TopperStudent__CardContainer{
    width: 100%;
    height: 90%;
    justify-content: space-evenly;
    background-image: radial-gradient(rgba(55, 55, 240, 0.797) 30%,rgb(86, 86, 217),  lightgreen);
}
.Studentcard{
    border: 2px solid  rgb(133, 30, 30);;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    background-color: rgb(242, 246, 120);
    text-decoration: underline;
    color: rgb(133, 30, 30);
    text-transform: uppercase;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
}


.Grid__Container {
    height: 300px;
    margin: 40px 0px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
}

.Grid__Item{
    text-align: center;
    color: white;
    font-weight: bold;
    text-align: left;
}

.Item-1{
    grid-column: 1/5;
    background-color: #dc3545;
    text-align: center;
}

.Item-2{
    background-color: #28a745;
    grid-column: 1/2;
    text-align: center;
    height: 75px;   
}

.Item-2 p{
    margin: 0px auto;
    font-size: 30px;
    width: 55%;
}

.Item-3{
    background-color: #007bff;
    grid-column: 2/3;
    height: 75px;
}

.Item-3 p{
    font-size: 25px;
    width: 75%;
}

.Item-4{
    background-color: rgb(14, 14, 192);
    grid-column: 3/4;
    height: 75px;
}

.Item-4 p{
    width: 50%;
    font-size: 20px;
}

.Item-5{
    background-color: #343a40;
    grid-column: 4/5;
    grid-row: 2/6;
    width: 70px;
}

.Item-5 p{
    font-weight: 500;
    border-bottom: 2px solid white;
}
.Item-6{
    background-color: #ffc107;
    grid-column: 1/4;
    grid-row: 3/6;
}

.Item-6 p{
    font-size: 24px;
}
.Item-7{
    grid-column: 1/5;
    background-color: aqua;
    text-align: center;
    color: black;
    font-size: 22px;
}

